<div class="container">
  <div class="left-side">
    <img src="../../../assets/chat.png" alt="Image" />
  </div>
  <form (ngSubmit)="login()" class="right-side">
    
      <label for="username">Username:</label>
      <input id="username" [(ngModel)]="username" name="username" required>
    
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    
    <button type="submit">Login</button>
    <button type="button" (click)="navigateToRegister()">Register here</button>
  </form>
</div>
